
/*---------------------Police: directives FontFace--------------------*/

@font-face {
	font-family: "Shrikhand";
	src: url("polices/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
    src: url("polices/Roboto/Roboto-Black.ttf") format("truetype");
    src: url("polices/Roboto/Roboto-Bold.ttf") format("truetype");
    src: url("polices/Roboto/Roboto-Light.ttf") format("truetype");
    src: url("polices/Roboto/Roboto-Medium.ttf") format("truetype");
    src: url("polices/Roboto/Roboto-Regular.ttf") format("truetype");
    src: url("polices/Roboto/Roboto-Thin.ttf") format("truetype");
}



/*--------------------------Règles générales---------------------------*/

h1 {
    font-family: "Shrikhand-Regular";
}

h2{
    font-family: "Roboto-Bold";
    font-size: 1.8rem;
}

h3{
    font-family: "Roboto-Medium";
    font-size: 1.5rem;
}

h4{
    font-family: "Roboto-Regular";
    font-size: 1.3rem;
}

p{
    font-family: "Roboto-Light";
    font-size: 1.3rem;
}

a/*tous les liens cliquables de la page*/
{
	text-decoration: none;/*perd soulignement défini par défaut*/
	color: black;/*perd couleur définie bleu par défaut*/
}

/*------------------------------- ----------------------------------*/



body{
    display: flex;
    flex-direction: column;
}


    header /*=logoheader*/{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3.8rem;
    }

        .logoheader{
            width: 11rem;
            height: 2rem;
        }


    .explorer{
        background-color: #f6f6f6;
        height: 22.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .localisation{
            background-color: #eaeaea;
            width: 100%;
            height: 3.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: inset 0 3px 5px rgb(196, 196, 196);
        }

        .bouton{
            background:linear-gradient(175deg, #ed73da, #9356DC);
            width: 17rem;
            height: 3.7rem;
            border-radius: 10rem;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 5px 5px 12px rgb(163, 163, 163);
        }

            .bouton h4{
                color: white;
            }
        

    .fonctionnement{
        padding: 2rem 0 0 1.5rem;
        height: 30rem;
        display: flex;
        flex-direction: column;
    }

        .fonctionnement-etapes{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-top: 1rem;
            height: 19.5rem;
        }

            .fonctionnement-etapes-etape{
                width: 26rem;
                height: 5.5rem;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                column-gap: 1rem;
                background-color: #f6f6f6;
                border-radius: 1.8rem;
                box-shadow: 5px 5px 12px rgb(163, 163, 163);
            }

                .numeromenu{
                    background-color: #9356DC;
                    width: 1.8rem;
                    height: 1.8rem;
                    border-radius: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: -1rem;
                }

                    .numeromenu h4{
                        color: white;
                    }

    .restaurants{
        background-color: #f6f6f6;
        padding: 2rem 0 5rem 1.5rem;
    }

        .restaurants-cartes{
            width: 95%;
            height: 80.5rem;
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
        }

            .restaurants-cartes_carte{
                background-color: white;
                width: 100%;
                height: 19rem;
                border-radius: 1.2rem;
                box-shadow: 5px 5px 12px rgb(163, 163, 163);
            }

                .restaurant-cartes_carte-photo{
                    width: 100%;
                    position: relative;
                }

                    .photoaccueil{
                        object-fit: cover;
                        width: 100%;
                        height: 13rem;
                        border-radius: 1.2rem 1.2rem 0 0;
                    }

                    .Nouveau{
                            width: 6rem;
                            height: 2rem;
                            position: absolute;
                            top: 1rem;
                            right: 1rem;
                            background-color: #99e2d0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 0.1rem;
                    }

                            .Nouveau h4{
                                color: #008766;
                            }

                .restaurants-cartes_carte-titre{
                    height: 28%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }
            

                .restaurants-cartes_carte-titre_nom{
                    height: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 1rem;
                }

                .restaurants-cartes_carte-titre_nom h4, .restaurants-cartes_carte-titre_nom p{
                    margin: 0.1rem;
                }

                    fa-solidfa-heart:hover, fa-solidfa-heart:active{
                        background:linear-gradient(#9356DC, #ed73da);
                    }
                    



    footer{
        background-color: #353535;
        width: 100%;
        height: 13rem;
        color: white;
        padding: 2rem 0 0 2rem;
    }

        .logofooter{
            color: white;
            width: 8rem;
            height: 1.5rem;
            margin-bottom: 0.7rem;
        }

        .footer_participer{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: 16%;
            margin: 0;
        }

            .fa-solidfa-utensils, .fa-solidfa-handshake-angle{
                color: white;
                width: 1rem;
                height: 1rem;
            }

        footer p{
            margin: 0.3rem 0 0.5rem 0;
        }



/*------------------------------- ----------------------------------*/


.menu{
    background-color: #f6f6f6;
    border-radius: 3rem 3rem 0 0;
    margin-top: -3rem;
    padding: 2rem 1.5rem 6.5rem 1.5rem;
    width: 100%;
}

    